<div class="container">
    <div class="left-section">
        <h1>Don't have an account?</h1>
        <p>To keep connected with us, signup with your personal info</p>
        <button class="sign-in-btn" routerLink="/auth/signup">Sign Up</button>
    </div>
    <div class="right-section">
        <h2>Login to continue</h2>
        <form (submit)="onLogin()">
            <div class="input-group">
                <i class="fa fa-user"></i>
                <input type="text" name="username" placeholder="Name" [(ngModel)]="username" required>
            </div>
            <div class="input-group">
                <i class="fa fa-lock"></i>
                <input type="password" name="password" placeholder="Password" [(ngModel)]="password" required>
            </div>
            <button (ngSubmit)="onLogin()" class="sign-up-btn" >Log In</button>
        </form>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </div>
</div>