
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
    <div class="container">
        <div class="left-section">
            <h1>Dont' have an account?</h1>
            <p>To keep connected with us, please signup with your personal info</p>
            <button class="sign-in-btn" routerLink="signup">SIGN IN</button>
        </div>
        <div class="right-section">
            <h2>Login to continue</h2>
            <form>
                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Name" required>
                </div>
                <div class="input-group">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Password" required>
                </div>
                <button type="submit" class="sign-up-btn">SIGN UP</button>
            </form>
        </div>
    </div>


