<div class="container">
    <div class="left-section">
        <h1>Don't have an account?</h1>
        <p>To keep connected with us, signup with your personal info</p>
        <button class="sign-in-btn" routerLink="/auth/signup">Sign Up</button>
    </div>

    <div class="right-section">
        <h2>Login to continue</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            
            <div class="input-group">
                <i class="fa fa-user"></i>
                <input type="text" placeholder="Name" formControlName="username">
            </div>
            <div class="error" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                <small>Name is required</small>
            </div>

            <div class="input-group">
                <i class="fa fa-lock"></i>
                <input type="password" placeholder="Password" formControlName="password">
            </div>
            <div class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                <small>Password is required</small>
            </div>

            <button type="submit" class="sign-up-btn" [disabled]="loginForm.invalid">Log In</button>
        </form>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </div>
</div>
