@font-face {
    font-family: 'CustomFont';
    src: url('https://d8it4huxumps7.cloudfront.net/font/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CustomFont', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
}

.container {
    width: 700px;
    height: 400px;
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    margin: 150px 400px;
}

.left-section {
    width: 40%;
    background: linear-gradient(135deg, #6a00c7, #0077ff33);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.log-in-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.log-in-btn:hover {
    background: white;
    color: #7b00cd;
}

.right-section {
    width: 60%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.social-icons i {
    font-size: 20px;
    color: #9d00ff;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    color: #0077cc;
}

p {
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin: 15px auto;
}

.input-group {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
}

.input-group i {
    color: gray;
    margin-right: 10px;
}

.input-group input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
}

.sign-up-btn {
    background: #6228b5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 70%;
}

.sign-up-btn:hover {
    background: #6300cc;
}
