<div class="container">
    <div class="left-section">
        <h1>Edit Existing accounts?</h1>
        <p>View & Manage Organizations within the portal!</p>
        <button class="log-in-btn" routerLink="/auth/login">Manage</button>
    </div>
    <div class="right-section">
        <h2>Create Organization</h2>
        <form (submit)="createOrganization()">
            <div class="input-group">
                <i class="fa fa-user"></i>
                <input type="text" placeholder="Organization name" [(ngModel)]="username" name="username" required>
            </div>
            <div class="input-group">
                <i class="fa fa-envelope"></i>
                <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
            </div>
            <div class="input-group">
                <i class="fa fa-lock"></i>
                <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
            </div>
            <button type="submit" class="sign-up-btn">Create</button>
        </form>
    </div>
</div>
