<div class="navbar">
    <i class="fas fa-university"></i> {{username}}
</div>
<div class="sidebar">
    <h2> Dashboard</h2>
    <ul>
      <li><a routerLink="/"><i class="fas fa-home"></i> Home</a></li>
      <li><a routerLink="view-all" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-building"></i> View Events</a></li>
      <li><a routerLink="insight" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-chart-line"></i> Insight</a></li>
      <li><a (click)="logout()"><i class="fas fa-sign-out"></i> Logout</a></li>
    </ul>
</div>
<div class="main-content">
    <router-outlet></router-outlet>
</div>