<div class="container">
  <div class="event-list" *ngIf="myEvents.length > 0">
    <div class="event-card" *ngFor="let event of myEvents">
      <h3>{{ event.title }}</h3>
      <p
        [ngClass]="{'approved': event.status === 'approved', 'rejected': event.status === 'rejected',  'pending': event.status === 'pending' }">
        <strong>Status:</strong> {{ event.status }}
      </p>
      <p><strong>Date:</strong> {{ event.eventDate }} at {{ event.eventTime }}</p>
      <p><strong>Duration:</strong> {{ event.eventDuration }} minutes</p>
      <p><strong>Mode:</strong> {{ event.eventMode }}</p>
      <p><strong>Type:</strong> {{ event.type }}</p>
      <p><strong>Deadline:</strong> {{ event.registrationDeadline }}</p>
      <p><strong>Participants:</strong> {{ event.minParticipants }} - {{ event.maxParticipants || 'Unlimited' }}</p>
      <p><strong>Hosted by:</strong> {{ event.instituteName }}</p>

      <div *ngIf="event.meetUrl">
        <a [href]="event.meetUrl">Join Meeting</a>
      </div>

      <p *ngIf="event.status === 'approved'" class="registered" (click)="exportRegistrationData(event.id ?? '', event.title)" title="Export Data"><i class="fa fa-users"></i> Registered: {{ event.registeredCount}}</p>
      <button *ngIf="event.status === 'rejected'" class="edit-btn" [routerLink]="['edit-event', event.id]">Edit Event</button>
      <button *ngIf="showCompletionStatus && event.status === 'approved'" class="completed-btn" (click)="completionStatus(event.id!)">Completed</button>
      <p class="approved" *ngIf="event.completionStatus === 'completed'">Event Completed</p>
    </div>
  </div>

  <div *ngIf="myEvents.length === 0 && !isLoading" class="no-events">
    <img src="reload.png" alt="try again" class="loading-image">
    <p>No events created.</p>
  </div>
</div>