<nav class="navbar">
    <div class="title" routerLink="/">
        <img src="logo.png" class="logo">
        <h1>Event Hub</h1>
    </div>
    <input type="text" (keyup)="searchEvents($event)" placeholder="Search events..." />

    <ul>
        <li routerLink="host">Host</li>
        <li routerLink="join-meet">Join</li>
    </ul>
    <div class="user-profile">
        <img src="profile.png" class="user-profile">
        <span>{{ username }}</span>
    </div>
    <button class="logout-btn" (click)="logout()">Logout</button>
</nav>
<div class="filter-options">
    <div class="dropdown">
        <button class="dropdown-btn" (click)="toggleDropdown()">
            {{ selectedType }} ▼
        </button>
        <ul class="dropdown-menu" *ngIf="dropdownOpen">
            <li (click)="filterByType('All Events')">All Events</li>
            <li (click)="filterByType('Conference')">Conference</li>
            <li (click)="filterByType('Symposium')">Symposium</li>
            <li (click)="filterByType('Hackathon')">Hackathon</li>
            <li (click)="filterByType('Competition')">Competition</li>
            <li (click)="filterByType('Workshop')">Workshop</li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="dropdown-btn" (click)="toggleSortDropdown()">
            Sort by: {{ selectedSort }} ▼
        </button>
        <ul class="dropdown-menu" *ngIf="dropdownOpenSort">
            <li (click)="sortEvents('asc')">Soon - later</li>
            <li (click)="sortEvents('desc')">Later - soon</li>
        </ul>
    </div>
</div>
<div class="event-container">
    <div class="event-list">
        <div class="event-card" *ngFor="let event of filteredEvents" (click)="event.id ? selectEvent(event.id) : null"
            [class.selected]="event.id === selectedEventId">
            <div class="event-content">
                <img [src]="getEventImage(event.type)" alt="Event Icon" class="event-icon">
                <div class="event-text">
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.type }} | {{ event.eventDate }}</p>
                    <p>{{ event.instituteName }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="event-details" *ngIf="selectedEvent && !showRegistrationForm">
        <div class="event-details-card">
            <div class="event-details-title">
                <img [src]="getEventImage(selectedEvent.type)" alt="Event Icon" class="event-icon">
                <h2>{{ selectedEvent.title }}</h2>
                <button (click)="showRegisterForm(selectedEvent)" class="register-button">Register</button>
            </div>

            <div class="event-info">
                <p><i class="fas fa-building"></i> <strong>Organization:</strong> {{ selectedEvent.instituteName }}</p>
                <p><i class="fas fa-tag"></i> <strong>Event Type:</strong> {{ selectedEvent.type }}</p>
            </div>

            <div class="event-datetime">
                <p><i class="fas fa-calendar-alt"></i> <strong>Date:</strong> {{ selectedEvent.eventDate }}</p>
                <p><i class="fas fa-exclamation-circle"></i> <strong>Deadline:</strong> {{
                    selectedEvent.registrationDeadline }}</p>
            </div>

            <div class="event-duration">
                <p><i class="fas fa-clock"></i> <strong>Time:</strong> {{ selectedEvent.eventTime }}</p>
                <p><i class="fas fa-hourglass-half"></i> <strong>Duration:</strong> {{ selectedEvent.eventDuration }}
                    minutes</p>
            </div>

            <div class="event-location">
                <p><i class="fas fa-globe"></i> <strong>Event Mode:</strong> {{ selectedEvent.eventMode }}</p>
                <p *ngIf="selectedEvent.location"><i class="fas fa-map-marker-alt"></i> <strong>Location:</strong> {{
                    selectedEvent.location }}</p>
            </div>

            <p><i class="fas fa-users"></i> <strong>Team Size:</strong> {{ selectedEvent.minParticipants }} - {{
                selectedEvent.maxParticipants }}</p>

            <p *ngIf="selectedEvent.fee"><i class="fas fa-money-bill-wave"></i> <strong>Registration Fee:</strong> {{
                selectedEvent.fee }}</p>

                <p><i class="fas fa-info-circle"></i> <strong>About the Event:</strong></p>
                <p>{{ selectedEvent.description }}</p>

                <p><i class="fas fa-phone-alt"></i> <strong>Contact:</strong> {{ selectedEvent.contactDetails }}</p>
               
        </div>
    </div>

    <div class="registration-container" *ngIf="showRegistrationForm">
        <form [formGroup]="registrationForm" (ngSubmit)="submitRegistration()" class="register-form">
            <div class="event-details-title">
                <h2>{{ selectedEvent?.title }}</h2>
            </div>
            <label>Name<span>*</span></label>
            <input type="text" formControlName="name" placeholder="Participant name with initial">
            <small *ngIf="registrationForm.controls['name'].invalid && registrationForm.controls['name'].touched">
                Participant name is required
            </small>

            <label>Email<span>*</span></label>
            <input type="email" formControlName="email" placeholder="Enter email address">
            <small *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched">
                Valid email is required
            </small>
            
            <label>Institute Name<span>*</span></label>
            <select formControlName="instituteName">
                <option value="" disabled>Select your Institution</option>
                <option *ngFor="let institute of institutes" [value]="institute">
                    {{ institute }}
                </option>
            </select>
            <small *ngIf="registrationForm.controls['instituteName'].invalid && registrationForm.controls['instituteName'].touched">
                Institute selection is required
            </small>

    
            <label>Course<span>*</span></label>
            <input type="text" formControlName="course" placeholder="Your course branch">
            <small *ngIf="registrationForm.controls['course'].invalid && registrationForm.controls['course'].touched">
                Institute selection is required
            </small>
    
            <div formArrayName="teammates">
                <h4>Teammates</h4>
                <div *ngFor="let teammate of teammates.controls; let i = index" [formGroupName]="i">
                    <label>Teammate {{ i + 1 }} Name</label>
                    <input type="text" formControlName="name" placeholder="Teammate Name">                 
                </div>
            </div>
    
            <button type="submit" class="register-button">Submit</button>
            <button type="button" class="cancel-button" (click)="showRegistrationForm = false">Cancel</button>
        </form>
    </div>
    

</div>