<!-- <div class="event-container">
    <form [formGroup]="eventForm" (ngSubmit)="submitForm()" class="event-form">
        <h2>Host an Event</h2>

        <div *ngIf="step === 1">
            <label>Event Title<span>*</span></label>
            <input type="text" formControlName="title" placeholder="Enter event title" />
            <small *ngIf="eventForm.controls['title'].invalid && eventForm.controls['title'].touched">
                Min 5 characters required
            </small>

            <label>Event Type<span>*</span></label>
            <select formControlName="type">
                <option value="" disabled>Select event type</option>
                <option>Conference</option>
                <option>Symposium</option>
                <option>Competition</option>
                <option>Workshop</option>
                <option>Hackathon</option>
            </select>
            <small *ngIf="eventForm.controls['type'].invalid && eventForm.controls['type'].touched">
                Event type is required
            </small>

            <label>Institute Name<span>*</span></label>
            <select formControlName="instituteName">
                <option value="" disabled>Select your Institution</option>
                <option *ngFor="let institute of institutes" [value]="institute">
                    {{ institute }}
                </option>
            </select>
            <small *ngIf="eventForm.controls['instituteName'].invalid && eventForm.controls['instituteName'].touched">
                Institute selection is required
            </small>

            <label>Description<span>*</span></label>
            <textarea formControlName="description" rows="4"
                placeholder="Describe your event agenda & guidelines"></textarea>
            <small *ngIf="eventForm.controls['description'].invalid && eventForm.controls['description'].touched">
                Min 50 characters required
            </small>
        </div>

        <div *ngIf="step === 2">
            <label>Event Date<span>*</span></label>
            <input type="date" formControlName="eventDate" />
            <small *ngIf="eventForm.controls['eventDate'].invalid && eventForm.controls['eventDate'].touched">
                Event date is required
            </small>

            <label>Event Time<span>*</span></label>
            <input type="time" formControlName="eventTime" />
            <small *ngIf="eventForm.controls['eventTime'].invalid && eventForm.controls['eventTime'].touched">
                Event time is required
            </small>

            <label>Event Duration<span>*</span></label>
            <input type="number" formControlName="eventDuration" placeholder="Duration in minutes" />
            <small *ngIf="eventForm.controls['eventDuration'].invalid && eventForm.controls['eventDuration'].touched">
                Duration must be atleast 10 minutes
            </small>

            <label>Registration Deadline<span>*</span></label>
            <input type="date" formControlName="registrationDeadline" />
            <small
                *ngIf="eventForm.controls['registrationDeadline'].invalid && eventForm.controls['registrationDeadline'].touched">
                Registration deadline is required
            </small>
        </div>

        <div *ngIf="step === 3">
            <label>Event Mode<span>*</span></label>
            <select formControlName="eventMode">
                <option value="" disabled>Select mode of event</option>
                <option>Online</option>
                <option>Offline</option>
            </select>
            <small *ngIf="eventForm.controls['eventMode'].invalid && eventForm.controls['eventMode'].touched">
                Event mode is required
            </small>

            <label>Contact Details<span>*</span></label>
            <input type="text" formControlName="contactDetails" placeholder="Coordinator's contact" />
            <small *ngIf="eventForm.controls['contactDetails'].invalid && eventForm.controls['contactDetails'].touched">
                Contact details are required
            </small>

            <label>Location</label>
            <input type="text" formControlName="location" placeholder="Enter event venue" />

            <label>Registration fee</label>
            <input type="number" formControlName="fee" placeholder="Fee amount(₹)" />
            <small *ngIf="eventForm.controls['fee'].invalid && eventForm.controls['fee'].touched">
                Fee must be a positive number
            </small>
        </div>
        <div *ngIf="step === 4">
            <label>Min Team Size</label>
            <input type="number" formControlName="minParticipants" value="1" />
            <small *ngIf="eventForm.controls['minParticipants'].invalid && eventForm.controls['minParticipants'].touched">
                Min participants are required
            </small>

            <label>Max Team Size</label>
            <input type="number" formControlName="maxParticipants" placeholder="Maximum team size" />

            <label>Host's Email<span>*</span></label>
            <input type="email" formControlName="creatorEmail" placeholder="Enter valid email ID" />
            <small *ngIf="eventForm.controls['creatorEmail'].invalid && eventForm.controls['creatorEmail'].touched">
                Valid email id required
            </small>

            <label>Meet Link(If event is Online)</label>
            <input type="text" formControlName="meetUrl" placeholder="Enter the link created" />
            <div class="meet-details">
                <label>ID:</label>
                <input type="text" formControlName="meetId" placeholder="Enter the meeting ID" />

                <label>Passcode:</label>
                <input type="text" formControlName="meetPasscode" placeholder="Enter the passcode" />
            </div>
        </div>

        <div class="nav-buttons">
            <button type="button" *ngIf="step > 1" (click)="prevStep()">Previous</button>
            <button type="button" *ngIf="step < 4" (click)="nextStep()">Next</button>
            <button type="submit" *ngIf="step === 4">Submit</button>
        </div>
    </form>

    <form [formGroup]="meetingForm" (ngSubmit)="scheduleMeeting()" class="meet-form">
        <h2>Create your event link</h2>
        <label for="topic">Meeting Topic</label>
        <input id="topic" formControlName="topic" placeholder="Event Title" />

        <label for="start_time">Start Time</label>
        <input type="datetime-local" id="start_time" formControlName="start_time" />

        <label for="duration">Duration</label>
        <input id="duration" type="number" formControlName="duration" placeholder="Meet Duration (minutes)" />

        <label for="agenda">Agenda</label>
        <textarea id="agenda" formControlName="agenda" placeholder="Purpose/description"></textarea>

        <button type="submit">Schedule Meeting</button>
        <div *ngIf="meetingDetails" class="meet-link">
            <p>Meeting ID: {{ meetingDetails.meeting_id }}</p>
            <p>Join URL: <a [href]="meetingDetails.join_url" target="_blank">{{ meetingDetails.join_url }}</a></p>
            <p>Password: {{ meetingDetails.password }}</p>
        </div>
    </form>
</div> -->