<div class="container">
    <h2>Organization Events</h2>
    <div class="data">
    <input type="text" placeholder="Search by name or email..." (keyup)="filterEvents($event)"/>
    <button class="export-data" (click)="exportData()">Export Data</button>
    </div>
    <table class="table table-bordered">
        <thead class="table-head">
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of filteredEvents">
                <td>{{ event.title }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.eventDate }}</td>
                <td [ngClass]="{'approved': event.status === 'approved', 'rejected': event.status === 'rejected',  'pending': event.status === 'pending' }">
                    {{ event.status }}
                </td>
                <td class="action-btns">
                    <button class="view-btn" [routerLink]="['view-event', event.id]">View</button>
                    <button class="approve-btn" (click)="event.id && updateStatus(event.id, 'approved')">Approve</button>
                    <button class="reject-btn" (click)="event.id && updateStatus(event.id, 'rejected')">Reject</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
