.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    margin-left: 10px;
}

h2 {
    color: #5a3e81 ;
    margin-bottom: 5px;
    font-weight: normal;
}

input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #4c1794;
    outline: none;
    transition: all 0.3s ease;
    width: 300px;
}

.data {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 110%;
    margin-bottom: 10px;

}

.export-data{
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0;
    background-color: #441b7d;
}

.export-data:hover {
    background-color: #673ca4;
}

.table {
    width: 110%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: center;
    font-weight: normal;
}

tbody tr {
    color:  rgb(59, 59, 59);
}

.table-head th:first-child,
.table-head th:last-child,
tbody td:first-child,
tbody td:last-child {
    width: 250px; 
}


.table-head {
    background-color: #343a40;
    color: white;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    margin: 3px;
}

.btn-sm {
    font-size: 0.875rem;
    padding: 5px 10px;
}

.approved {
    color: green;
}

.rejected {
    color: red;
}

.pending {
    color: blue;
}

button {
    background-color: white;
    border: 1.5px solid rgb(78, 15, 154);
    color: rgb(88, 43, 142);
    border-radius: 5px;
    padding: 6px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.view-btn:hover {
    background-color: rgb(221, 193, 255);
    border: 1.5px solid rgb(78, 15, 154);
    color: rgb(88, 43, 142);
}

.approve-btn:hover {
    background-color: rgb(193, 255, 198);
    border: 1.5px solid rgb(10, 126, 31);
    color: rgb(10, 126, 31);
}

.reject-btn:hover {
    background-color: rgb(255, 193, 193);
    border: 1.5px solid rgb(150, 11, 11);
    color:  rgb(150, 11, 11);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 300px;
}

.dropdown-btn {
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(78, 15, 154);
    color: rgb(78, 15, 154);
    border-radius: 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.dropdown-btn:hover {
    background-color: #f2dcff;
}

.dropdown-menu {
    position: absolute;
    list-style: none;
    background: white;
    border: 1px solid #ccc;
    padding: 5px 0;
    width: 200px;
    display: block;
    border-radius: 5px;
    color: #383838;
    font-size: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: #f2dcff;
}
