<div class="insight-container">
    <div class="card-container">
      <div class="card">
        <h3>Total Events Created</h3>
        <p>{{ totalEvents }}</p>
      </div>
      <div class="card">
        <h3>Approved Events</h3>
        <p>{{ approvedEvents }}</p>
      </div>
      <div class="card">
        <h3>Total Registrations</h3>
        <p>{{ totalRegistrations }}</p>
      </div>
    </div>
  
    <div class="chart-container">
        <h3>Institute Wise Registrations</h3>
      <canvas id="instituteChart"></canvas>
    </div>
  </div>
  
