<nav class="navbar">
    <div class="title">
        <img src="logo.png" class="logo">
        <h1>Event Hub</h1>
    </div>
    <ul>
        <li>Home</li>
        <li (click)="navigateTo('user')">Events</li>
        <li (click)="navigateTo('user/host')">Host</li>
    </ul>
    <div *ngIf="username; else showSignup" class="user-info">
        <div class="user-profile" *ngIf="role !== 'ROLE_ORGANIZATION'">
            <img src="profile.png" class="user-profile">
            <span>{{ username }}</span>
        </div>
        <div *ngIf="role === 'ROLE_ADMIN'">
            <li routerLink="admin">Dashboard</li>
        </div>
        <div *ngIf="role === 'ROLE_ORGANIZATION'">
            <li routerLink="org">Organization</li>
        </div>
        <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
    
    <ng-template #showSignup>
        <button class="login-btn" routerLink="auth">Sign In</button>
    </ng-template>
    
</nav>
<div class="container">
    <div class="text-section">
        <div style="width: 500px;">
            <h2>Unleash Extraordinary Events with Ease!</h2>
        </div>
        <p>Explore upcoming conferences, symposiums, hackathons, and competitions. Stay updated on the latest events!
        </p>
        <div class="buttons">
            <button class="register" (click)="navigateTo('user')">Register events</button>
            <button class="know-more" (click)="navigateTo('user')">Know more →</button>
        </div>
    </div>
    <div class="image-section">
        <img src="Projections-amico.png" class="home-image">
    </div>
</div>
<div class="cards-container">
    <button class="scroll-btn left" (click)="scrollLeft()">&#10094;</button>
    <div class="scroll-wrapper" #scrollContainer>
        <div class="card" *ngFor="let event of eventList">
            <div class="card-content">
                <span>{{ event.name }}</span>
                <img [src]="event.img" alt="{{ event.name }}" />
            </div>
        </div>
    </div>
    <button class="scroll-btn right" (click)="scrollRight()">&#10095;</button>
</div>