body {
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.title {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 2px;
}

.navbar h1 {
    color: rgb(78, 15, 154);
    font-size: 24px;
}

.logo {
    width: 50px;
}

.navbar ul {
    display: flex;
    gap: 20px;
    margin-left: 350px;
}

li {
    cursor: pointer;
    list-style: none;
    margin-left: 30px;
}

li:hover {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.login-btn, .logout-btn {
    background-color: white;
    border: 1.5px solid rgb(78, 15, 154);
    color: rgb(78, 15, 154);
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}

/***************************** CONTAINER ****************************/

.container {
    display: flex;
    align-items: center;
    padding: 50px;
    margin-top: 80px;
    height: calc(100vh - 60px);
}

.text-section {
    max-width: 50%;
    margin-left: 50px;
}

.text-section h2 {
    font-size: 46px;
    color: rgb(78, 15, 154);
    padding-bottom: 20px;
}

.text-section p {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
    padding-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.register {
    background-color: rgb(78, 15, 154);
    color: white;
    border-radius: 25px;
    border: none;
}

.know-more {
    color: rgb(78, 15, 154);
    background-color: white;
    border-radius: 25px;
    border: none;
}

.know-more:hover {
    border: 1px solid rgb(78, 15, 154);
}

.image-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
}

.home-image {
    width: 80%;
    height: 80%;
}

/******************************* CARDS **************************/

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
}

.scroll-wrapper {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 80%;
    padding: 10px;
    white-space: nowrap;
}

.card {
    min-width: 250px;
    height: 140px;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(84, 5, 130, 0.2);
    overflow: hidden;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.card-content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.scroll-btn {
    background-color: #6228b5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    border-radius: 50%;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.user-profile img {
    width: 25px;
    margin-left: 30px;
}
.user-profile {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

/***************************** FOOTER ****************************/

.footer {
    background-color: rgb(49, 17, 88);
    color: white;
    padding: 20px;
    display: flex;
    gap: 100px;
    margin-top: 30px;
    padding-right: 0;
}

.feedback-section {
    flex: 1;
    margin: 10px;
}

.feedback-section textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: none;
}

.feedback-section button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color:transparent;
    color: white;
    border: 1.5px solid white;
    cursor: pointer;
    border-radius: 5px;
}

h3,h4 {
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: normal;
}

p{
    font-size: 15px;
    margin-bottom: 15px;
}

.social-media {
    flex: 1;
    margin: 10px;
}

.social-icons {
    display: flex;
}

.social-icons a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}
