.table-container {
    width: 110%;
    margin: 0 0;
    overflow-x: auto;
    margin-top: -35px;
}

h2 {
    font-weight: normal;
    margin: 10px auto;
    color: #5a3e81 ;
}

input {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border: 1px solid #4c1794;
    outline: none;
    transition: all 0.3s ease;
    width: 300px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
}

th {
    background-color: #343a40;
    color: white;
}

tr {
    color: rgb(59, 59, 59);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.change-btn {
    color: rgb(67, 11, 123);
}

.view-btn {
    color: rgb(33, 56, 236);
}

.delete-btn {
    color: rgb(175, 10, 46);
}